h1 {
  color: #e5e5e5;
}

p {
  color: #e5e5e5;
}

navbar {
  justify-content: flex-end;
}

#challenges {
  width: 80%;
}

.challengetile {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
  width: 100%;
}

.challengetile > a {
  width: 85%;
}

.challengetile__info {
  background-color: #2e4756;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  padding: 4rem 4rem;
}

.pending .challengetile__info {
  height: 25rem;
}

.challengetile img {
  background-color: gray;
  height: 15rem;
  width: 15rem;
}

.challengetile__text {
  padding-left: 3rem;
}

.challengetile__text p:nth-child(1) {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
}

.challengetile__text p:nth-child(2) {
  font-size: 4.5rem;
  font-weight: 500;
}

.challengetile__text p:nth-child(3) {
  color: #7bcdba;
  font-weight: 200;
}

.challengetile__add {
  align-items: center;
  background-color: #7bcdba;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  font-size: 10rem;
  height: 30rem;
  justify-content: center;
  width: 15%;
}

.challengetile__add.pending {
  height: 25rem;
  background-color: #16262e;
}

.challengetile__add.pending p {
  color: #2e4756;
}

.challengetile__add.completed {
  background-color: #16262e;
}

.challengetile__add.completed p {
  color: #2e4756;
}

.progressbar {
  background-color: #16262e;
  height: 25px;
  margin: 45px 0px 5px;
  width: 100%;
}

.pending .progressbar {
  display: none;
}

.progressbar__status {
  background-color: #7bcdba;
  height: 25px;
}

.addchallenge {
  background-color: #7bcdba;
  border-radius: 100%;
  color: #e5e5e5;
  height: 12rem;
  margin-top: 10rem;
  width: 12rem;
}

.addchallenge p {
  font-size: 12rem;
  margin: -15px;
  text-align: center;
  vertical-align: middle;
}

.nochallenges p {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 25px;
}
