html {
  background-color: #e5e5e5;
  height: 150%;
}

h1 {
  color: #3c7a89;
  padding-bottom: 0rem;
}

h2 {
  color: #7bcdba;
  font-size: 5rem;
}

h3 {
  color: #3c7a89;
  padding: 10rem 0rem 3rem;
  text-transform: uppercase;
}

h4 {
  color: #e5e5e5;
  font-size: 3.5rem;
  font-weight: 100;
  padding: 4rem 4rem 0rem;
  text-transform: uppercase;
}

p {
  color: #e5e5e5;
}

.challenge__info {
  background-color: #2e4756;
  border-radius: 10px;
  padding: 4.5rem;
  text-align: center;
  width: 80%;
}

.challenge__info #category {
  font-weight: 500;
  text-transform: uppercase;
}

.challenge__info #unit {
  font-weight: 100;
  text-transform: none;
}

.challenge__period {
  background-color: #7bcdba;
  border-radius: 10px;
  margin-top: 3rem;
  padding: 4.5rem;
  width: 80%;
}

.challenge__period div {
  display: flex;
  justify-content: space-between;
}

.challenge__period div:nth-child(1) {
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

#progress {
  width: 80%;
}

#totalprogress {
  margin-top: 3rem;
  width: 80%;
}

#totalprogress .progress__day {
  margin: 0;
}

.progress__day {
  background-color: #3c7a89;
  border-radius: 10px;
  height: 18rem;
  margin: 2rem 0rem;
}

.totalprogressbar,
.progressbar {
  background-color: #16262e;
  height: 25px;
  margin: 35px auto 5px;
  width: 90%;
}

.progressbar__status {
  background-color: #7bcdba;
  height: 25px;
}

.donation {
  align-items: center;
  background-color: #7bcdba;
  border-radius: 10px;
  color: #e5e5e5;
  display: flex;
  flex-direction: row;
  font-size: 125%;
  padding: 2rem;
  text-align: center;
  width: 80%;
}

.donation #charity {
  width: 60%;
}

.donation #amount {
  color: #2e4756;
  font-size: 8rem;
  font-weight: 700;
  width: 40%;
}

.btn {
  color: #3c7a89;
}
