html {
  background-color: #e5e5e5;
}

h1 {
  color: #3c7a89;
}

label,
input,
option,
span {
  color: #2e4756;
}

select {
  margin: 30px;
}

#addchallenge {
  width: 100%;
}

.input--underline {
  border-bottom-color: #2e4756;
  margin: 15px 30px;
  padding-bottom: 0px;
}

#count.input--underline {
  text-align: center;
  width: 10rem;
}

#info .input--underline {
  text-align: center;
  width: 15rem;
}

#category,
#challenge {
  width: 50rem;
}

#start input,
#end input {
  width: 32rem;
}

#addChallenge__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info > span {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

#challenge,
#count,
#end {
  margin-bottom: 8rem;
}

.btn {
  color: #3c7a89;
  margin: 5rem 10rem 5rem 10rem;
}

#summary {
  color: #7bcdba;
  display: none;
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  text-transform: lowercase;
  transition: padding 2s ease-in-out 2s, height 2s ease-in-out 2s;
}

#summary p {
  padding: 1rem 2rem;
}

.showSummary {
  display: block;
  height: auto;
  padding: 2rem;
}
