html {
  background-color: #e5e5e5;
}

h1 {
  color: #3c7a89;
}

p {
  color: #e5e5e5;
}

.challengetile {
  background-color: #2e4756;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  margin: 2rem 0rem;
  padding: 4rem 4rem;
  width: 80%;
}

.challengetile img {
  background-color: gray;
  width: 15rem;
}

.challengetile__text {
  padding-left: 5rem;
}

.challengetile__text p:nth-child(1) {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
}

.challengetile__text p:nth-child(2) {
  font-size: 4.5rem;
  font-weight: 500;
}

.challengetile__text p:nth-child(3) {
  color: #7bcdba;
  font-weight: 200;
}

.progressbar {
  background-color: #16262e;
  height: 25px;
  margin: 45px 0px 5px;
  width: 100%;
}

.progressbar__status {
  background-color: #7bcdba;
  height: 25px;
}
