h1 {
  color: #2e4756;
  padding: 5rem 0rem 12rem;
}

header #logo {
  height: 20rem;
  margin-top: 7rem;
}

.login__navigation {
  text-transform: uppercase;
}

.login__navigation li {
  display: inline-block;
  list-style: none;
  margin: 2.2rem;
}

.login__navigation li a {
  color: #e5e5e5;
  display: inline-block;
  font-size: 5rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

.login__navigation li a.selected {
  font-weight: bold;
  border-bottom: 7px solid #e5e5e5;
}

#login,
#register {
  width: 75%;
}

#register .input--underline {
  margin: 20px 45px;
}
