html {
  background-color: #e5e5e5;
}

h1 {
  color: #3c7a89;
}

label,
input,
option,
span {
  color: #2e4756;
}

select {
  margin: 30px;
}

.input--underline {
  border-bottom-color: #2e4756;
  margin: 15px 30px;
  padding-bottom: 0px;
}

#count .input--underline {
  text-align: center;
  width: 5rem;
}

#info .input--underline {
  text-align: center;
  width: 15rem;
}

#category select,
#challenge select {
  width: 45rem;
}

#start input,
#end input {
  width: 29rem;
}

#addChallenge__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info > span {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

#challenge,
#count,
#end {
  margin-bottom: 8rem;
}
.btn {
  color: #3c7a89;
}
