/**
 * Generic styles
 *
 * @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* ===========================================
   Custom reset
   =========================================== */

html {
	font-size: 0.625em;  
}

body > * {
	font-size: 1.6rem;
}


* {
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

fieldset {
	border: 0;
}

/* ===========================================
   Helpers
   =========================================== */

.structural {
	position: absolute;
	left: -9999px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.ir {
	display: block;
	background-size: 100%; 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.hidden {
	position: absolute !important;
	visibility: hidden !important;
	z-index: -1 !important;
}

/* ===========================================
   Nice inputfields
   https://codepen.io/andreasstorm/pen/gKGbxo
   =========================================== */

.inp {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 280px;
  }
  .inp .label {
	position: absolute;
	top: 16px;
	left: 0;
	font-size: 16px;
	color: white;
	font-weight: 500;
	transform-origin: 0 0;
	transition: all 0.2s ease;
  }
  .inp .border {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	/* background: #07f; */
	transform: scaleX(0);
	transform-origin: 0 0;
	transition: all 0.15s ease;
  }
  .inp input {
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	font-family: inherit;
	padding: 12px 0;
	height: 48px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid #c8ccd4;
	background: none;
	border-radius: 0;
	color: #7BCDBA;
	transition: all 0.15s ease;
  }
  .inp input:hover {
	background: rgba(34,50,84,0.03);
  }
  .inp input:not(:placeholder-shown) + span {
	color: #2E4756;
	transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus {
	background: none;
	outline: none;
  }
  .inp input:focus + span {
	color: #2E4756;
	transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus + span + .border {
	transform: scaleX(1);
  }