html {
  background-color: #3c7a89;
  font-family: "Roboto", sans-serif;
}

#content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 6rem;
  padding: 5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 10rem;
  padding-bottom: 100px;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#hamburger {
  color: #7bcdba;
  text-decoration: none;
  margin-right: 2rem;
}

#hamburger span {
  font-size: 7rem;
}

#overlaymenu {
  background-color: #2e4756;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#closeoverlay {
  color: #7bcdba;
  text-decoration: none;
  display: block;
  float: left;
  margin-left: 2rem;
}

#closeoverlay span {
  font-size: 400%;
}

.overlaycenter {
  color: white;
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

a.btn {
  text-decoration: none;
}

.btn {
  background-color: inherit;
  border: 5px solid #7bcdba;
  border-radius: 100px;
  margin-top: 10rem;
  padding: 1.5rem 10rem;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}

input {
  background-color: inherit;
  border: none;
  color: #efefef;
  font-family: "Roboto";
  font-size: 4rem;
}

input::placeholder {
  background-color: inherit;
  color: #efefef;
  font-family: "Roboto";
  font-size: 4rem;
}

input:focus,
select:focus {
  outline: none;
}

input:focus::placeholder {
  color: #efefef8a;
  font-size: 3rem;
}

.input--underline {
  border-bottom: 4px solid #efefef;
  margin: 45px;
  padding: 20px 10px;
}

select {
  background-color: inherit;
  border: none;
  border-bottom: 4px solid #2e4756;
  color: #2e4756;
  font-family: "Roboto";
  font-size: 4rem;
}

option {
  background-color: inherit;
  border: none;
  color: #2e4756;
  font-family: "Roboto";
  font-size: 2rem;
}

/* 
label.dropdown span {
  color: inherit;
  display: block;
  font-size: 1.3em;
  height: 30px;
  line-height: 30px;
  left: 9px;
  pointer-events: none;
  position: absolute;
  top: 32px;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  -webkit-transition-property: color, font-size, top;
  transition-property: color, font-size, top;
  z-index: 1;
}

label.dropdown span.required::after {
  color: inherit;
  content: "*";
  display: block;
  height: 30px;
  left: -30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.error label.dropdown span {
  color: #f02318;
}

label.dropdown .psuedo_select {
  background: rgba(255, 255, 255, 0);
  position: relative;
  border-color: #16262e;
  border-style: solid;
  border-width: 0 0 2px 0;
  color: #16262e;
  cursor: pointer;
  font-size: 0.8em;
  height: 50px;
  line-height: 50px;
  margin: 34px 0 0 0;
  min-width: 150px;
  padding-top: 40px;
  outline: 0;
  z-index: 1;
}

label.dropdown .psuedo_select::after {
  background: url("data:image/svg+xml;utf8,<svg fill='#666' height='50' viewBox='0 0 24 24' width='50' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"),
    no-repeat;
  content: "";
  height: 50px;
  width: 50px;
  position: absolute;
  top: -20px;
  right: 0;
  -webkit-transition-property: background;
  transition-property: background;
}

label.dropdown .psuedo_select .selected {
  height: 40px;
  left: 1px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  will-change: transform;
}

label.dropdown .psuedo_select ul {
  background-color: #efefef;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  display: block;
  height: 0;
  list-style: none;
  margin-top: 2px;
  opacity: 0;
  overflow: hidden;
  padding: 0 1px;
  pointer-events: none;
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  width: 100%;
  z-index: 2;
}

label.dropdown .psuedo_select ul li {
  background: #efefef;
  height: 60px;
  padding: 8px 4px;
}

label.dropdown .deselect {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

label.dropdown.focused {
  color: #3c7a89;
}

label.dropdown.focused .psuedo_select {
  border-color: #3c7a89;
}

label.dropdown.focused .psuedo_select::after {
  background: url("data:image/svg+xml;utf8,<svg fill='#007BED' height='50' viewBox='0 0 24 24' width='50' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"),
    no-repeat;
}

label.dropdown.focused .psuedo_select ul {
  opacity: 1;
  pointer-events: all;
}

p {
  font-size: 4rem;
  color: #16262e;
}

.textfield p {
  display: inline-block;
}

.textfield input {
  border: 0;
  border-bottom: 2px solid #3c7a89;
  width: 100%;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  padding: 10px;
  background: transparent;
  color: #3c7a89;
}

.textfield input:focus {
  outline: 0;
  color: #3c7a89;
} */
