html {
  background-color: #3c7a89;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  padding-top: 100px;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 100px;
}

navbar {
  margin-left: auto;
}

.center {
  color: white;
  font-size: 400%;
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; */
}

#content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
}

#hamburger {
  color: #7bcdba;
  text-decoration: none;
  margin-right: 2rem;
}

#hamburger span {
  font-size: 400%;
}

#overlaymenu {
  background-color: #2e4756;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#closeoverlay {
  color: #7bcdba;
  text-decoration: none;
  display: block;
  float: left;
  margin-left: 2rem;
}

#closeoverlay span {
  font-size: 400%;
}

.overlaycenter {
  color: white;
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

a.btn {
  border: 5px solid #7bcdba;
  border-radius: 100px;
  margin-top: 75px;
  padding: 1.5rem 10rem;
  text-decoration: none;
  text-transform: uppercase;
}
